# package.json "files" is the publish allow-list (index.js, index.d.ts, src/,
# README.md, CHANGELOG.md, LICENSE). This file prunes anything that could
# appear inside an allowed directory and documents what never ships.
test/
test.js
.git/
.gitignore
.github/
node_modules/
scratch/
*.log
*.tgz
.DS_Store
.vscode/
.idea/
